

.color-override {
  color: #000;
}

.h-aug {
  height: 100%;
}

.w-aug {
  width: 50%;
}


.change-for-the-sake-of-change {
  font-size: 18rem;
}


.qcc {
  background-color: #1fff09;
}


.roboto-mono-700 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.chilanka-regular {
  font-family: "Chilanka", cursive;
  font-weight: 400;
  font-style: normal;
  color: #030062
}

.mybg {
  background-image: url(../imgs/aphoto.webp);
}

.bg-color-overlay {
  background-color: rgba(9,8.2,8.2,0.5);
/*  background-color: #171515;  */
}


.bdy-text {
  font-family: "Roboto Mono", monospace;
  color: #cccbf0;
}


.am-poems {

float: right;
width: 30%;

}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;

}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
}
100% {
  opacity: 1;
}

#new {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  opacity: 0;
}

#new:target {
  -webkit-transition: opacity 2.0s ease-in;
-moz-transition: opacity 2.0s ease-in;
-o-transition: opacity 2.0s ease-in;
  opacity: 1;

}
