

.color-override {
  color: #000;
}

.h-aug {
  height: 100%;
}

.w-aug {
  width: 50%;
}


.change-for-the-sake-of-change {
  font-size: 18rem;
}


.qcc {
  background-color: #1fff09;
}


.roboto-mono-700 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.chilanka-regular {
  font-family: "Chilanka", cursive;
  font-weight: 400;
  font-style: normal;
  color: #030062
}

.mybg {
  background-image: url(../imgs/aphoto.webp);
}

.bg-color-overlay {
  background-color: rgba(9,8.2,8.2,0.5);
/*  background-color: #171515;  */
}


.bdy-text {
  font-family: "Roboto Mono", monospace;
  color: #cccbf0;
}


.am-poems {

float: right;
width: 30%;

}
.set-w {
  width: 300px;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.truculenta {
  font-family: "Truculenta", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.thee-autumn-wind {

}
